<!-- lista_categorias.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Categorías en {{ proyecto.nombre }}</title>
</head>
<body>
    <h1>Categorías en {{ proyecto.nombre }}</h1>
    <ul>
        {% for categoria in proyecto.categorias.all %}
            <li>
                <a href="{% url 'task' categoria.id %}">{{ categoria.nombre }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'project' %}">Volver a Proyectos</a>
    <a href="{% url 'category' %}">Crear Nueva Categoría</a>
</body>
</html>